@font-face {
  font-family: "iconfont"; /* Project id 3643879 */
  src: url("//at.alicdn.com/t/a/font_3643879_ap0pb871mia.woff2?t=1662982557107")
      format("woff2"),
    url("//at.alicdn.com/t/a/font_3643879_ap0pb871mia.woff?t=1662982557107")
      format("woff"),
    url("//at.alicdn.com/t/a/font_3643879_ap0pb871mia.ttf?t=1662982557107")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-c1:before {
  content: "\e698";
}

.icon-go:before {
  content: "\f200";
}

.icon-save:before {
  content: "\e6ea";
}

.icon-go1:before {
  content: "\eba6";
}

.icon-suffix-cpp:before {
  content: "\e64f";
}

.icon-socialjavascript:before {
  content: "\e898";
}

.icon-java:before {
  content: "\f1d7";
}

.icon-node-js:before {
  content: "\f1fd";
}

.icon-gnubash:before {
  content: "\eba5";
}
